In [1]:
import pandas as pd 
df = pd.read_csv(r'C:\Users\nazif\Downloads\Data Sets\Collisions.csv')
df

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.362907,47.558372,1,326120,327620,3824232,Unmatched,Block,NaN,DELRIDGE WAY SW BETWEEN SW EDMUNDS ST AND SW H...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
1,-122.301868,47.618931,2,65200,65200,2621299,Matched,Block,NaN,E DENNY WAY BETWEEN 23RD AVE AND 24TH AVE,...,Ice,Dusk,NaN,7015014.0,NaN,32,One parked--one moving,0,0,N
2,-122.391508,47.669461,3,20100,20100,1473746,Matched,Block,NaN,NW 56TH ST BETWEEN 26TH AVE NW AND 28TH AVE NW,...,Dry,Dark - Street Lights On,NaN,4080013.0,NaN,32,One parked--one moving,0,0,N
3,-122.346296,47.620903,4,49300,49300,2072241,Matched,Intersection,28927.0,TAYLOR AVE N AND THOMAS ST,...,Dry,Daylight,NaN,6154013.0,NaN,10,Entering at angle,0,0,N
4,-122.288688,47.532714,5,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220333,-122.349756,47.646513,220334,326931,328431,E967858,Matched,Block,NaN,4TH AVE N BETWEEN NICKERSON ST AND FREMONT BR,...,Dry,Daylight,NaN,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
220334,-122.334204,47.574386,220335,326962,328462,E993555,Unmatched,Intersection,32333.0,1ST AVE S AND S HORTON ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
220335,-122.347215,47.686941,220336,327637,329137,E978249,Matched,Intersection,24285.0,LINDEN AVE N AND N 80TH ST,...,Wet,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
220336,-122.350034,47.662136,220337,328369,329869,EA07809,Matched,Intersection,25689.0,FREMONT AVE N AND N 46TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
220337,-122.301083,47.604324,220338,326950,328450,E968693,Matched,Intersection,30101.0,24TH AVE AND E ALDER ST,...,Dry,Daylight,NaN,NaN,NaN,0,Vehicle going straight hits pedestrian,0,0,N

## Idea:
 1) What variables in the data can help answer the question of what factors lead to most accidents? 
 
 2) Relate the factors to severity of the accidents.

Variables for Idea 1) INATTENTIONIND,UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, SPEEDING.

Variables for Idea 2)  SEVERITYCODE, SEVERITYDESC,ST_COLDESC, COLLISIONTYPE,INJURIES, SERIOUSINJURIES, FATALITY

There maybe interrelated information between COLLISIONTYPE and ST_COLDESC.

In [2]:
df.columns

Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [3]:
df.info() # Consider how many missing and unique values there are in each column

# basic approach

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220338 entries, 0 to 220337
Data columns (total 40 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                212878 non-null  float64
 1   Y                212878 non-null  float64
 2   OBJECTID         220338 non-null  int64
 3   INCKEY           220338 non-null  int64
 4   COLDETKEY        220338 non-null  int64
 5   REPORTNO         220338 non-null  object
 6   STATUS           220338 non-null  object
 7   ADDRTYPE         216632 non-null  object
 8   INTKEY           71472 non-null   float64
 9   LOCATION         215763 non-null  object
 10  EXCEPTRSNCODE    99935 non-null   object
 11  EXCEPTRSNDESC    11745 non-null   object
 12  SEVERITYCODE     220337 non-null  object
 13  SEVERITYDESC     220338 non-null  object
 14  COLLISIONTYPE    194186 non-null  object
 15  PERSONCOUNT      220338 non-null  int64
 16  PEDCOUNT         220338 non-null  int64
 17  PEDCYLCOUNT      220338 non-null  int64
 18  VEHCOUNT         220338 non-null  int64
 19  INJURIES         220338 non-null  int64
 20  SERIOUSINJURIES  220338 non-null  int64
 21  FATALITIES       220338 non-null  int64
 22  INCDATE          220338 non-null  object
 23  INCDTTM          220338 non-null  object
 24  JUNCTIONTYPE     208404 non-null  object
 25  SDOT_COLCODE     220337 non-null  float64
 26  SDOT_COLDESC     220337 non-null  object
 27  INATTENTIONIND   30187 non-null   object
 28  UNDERINFL        194206 non-null  object
 29  WEATHER          193998 non-null  object
 30  ROADCOND         194078 non-null  object
 31  LIGHTCOND        193909 non-null  object
 32  PEDROWNOTGRNT    5177 non-null    object
 33  SDOTCOLNUM       127205 non-null  float64
 34  SPEEDING         9870 non-null    object
 35  ST_COLCODE       210925 non-null  object
 36  ST_COLDESC       194186 non-null  object
 37  SEGLANEKEY       220338 non-null  int64
 38  CROSSWALKKEY     220338 non-null  int64
 39  HITPARKEDCAR     220338 non-null  object
dtypes: float64(5), int64(12), object(23)
memory usage: 67.2+ MB

In [4]:
col_na = round(100*(df.isna().sum()/len(df)), 2)   #more advanced approach
col_nunique = df.nunique()    
df_summary = pd.DataFrame({"data_type": df.dtypes,
                           "percent_missing_values": col_na,
                           "total_unique_values": col_nunique}).sort_values(by=["percent_missing_values"],
                                                                            ascending=False)
df_summary

                data_type  percent_missing_values  total_unique_values
PEDROWNOTGRNT      object                   97.65                    1
SPEEDING           object                   95.52                    1
EXCEPTRSNDESC      object                   94.67                    1
INATTENTIONIND     object                   86.30                    1
INTKEY            float64                   67.56                 7894
EXCEPTRSNCODE      object                   54.64                    2
SDOTCOLNUM        float64                   42.27               127186
LIGHTCOND          object                   11.99                    9
WEATHER            object                   11.95                   11
ROADCOND           object                   11.92                    9
ST_COLDESC         object                   11.87                   62
COLLISIONTYPE      object                   11.87                   10
UNDERINFL          object                   11.86                    4
JUNCTIONTYPE       object                    5.42                    7
ST_COLCODE         object                    4.27                   63
Y                 float64                    3.39                24882
X                 float64                    3.39                24593
LOCATION           object                    2.08                25156
ADDRTYPE           object                    1.68                    3
SEGLANEKEY          int64                    0.00                 2101
CROSSWALKKEY        int64                    0.00                 2342
SDOT_COLDESC       object                    0.00                   40
SDOT_COLCODE      float64                    0.00                   40
SERIOUSINJURIES     int64                    0.00                    7
INCDTTM            object                    0.00               168501
INCDATE            object                    0.00                 6033
FATALITIES          int64                    0.00                    6
INJURIES            int64                    0.00                   16
VEHCOUNT            int64                    0.00                   16
PEDCYLCOUNT         int64                    0.00                    3
PEDCOUNT            int64                    0.00                    7
PERSONCOUNT         int64                    0.00                   48
SEVERITYDESC       object                    0.00                    5
SEVERITYCODE       object                    0.00                    5
STATUS             object                    0.00                    2
REPORTNO           object                    0.00               220335
COLDETKEY           int64                    0.00               220338
INCKEY              int64                    0.00               220338
OBJECTID            int64                    0.00               220338
HITPARKEDCAR       object                    0.00                    2

In [19]:
# Example -- how to make all column names lowercase

df.columns = map(str.lower, df.columns)
df.head(3)

,x,y,objectid,inckey,coldetkey,reportno,status,addrtype,intkey,location,...,roadcond,lightcond,pedrownotgrnt,sdotcolnum,speeding,st_colcode,st_coldesc,seglanekey,crosswalkkey,hitparkedcar
0,-122.362907,47.558372,1,326120,327620,3824232,Unmatched,Block,NaN,DELRIDGE WAY SW BETWEEN SW EDMUNDS ST AND SW H...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
1,-122.301868,47.618931,2,65200,65200,2621299,Matched,Block,NaN,E DENNY WAY BETWEEN 23RD AVE AND 24TH AVE,...,Ice,Dusk,NaN,7015014.0,NaN,32,One parked--one moving,0,0,N
2,-122.391508,47.669461,3,20100,20100,1473746,Matched,Block,NaN,NW 56TH ST BETWEEN 26TH AVE NW AND 28TH AVE NW,...,Dry,Dark - Street Lights On,NaN,4080013.0,NaN,32,One parked--one moving,0,0,N

In [25]:
speed= df.loc[:,"speeding"]            
print(speed)
inattention = df.loc[:,"inattentionind"]
print(inattention)

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
220333    NaN
220334    NaN
220335    NaN
220336    NaN
220337    NaN
Name: speeding, Length: 220338, dtype: object
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
220333      Y
220334    NaN
220335    NaN
220336    NaN
220337      Y
Name: inattentionind, Length: 220338, dtype: object

In [70]:
speed= df.loc[:,"speeding"]
bool_series = pd.notnull(df["speeding"]) # creating bool series True for non-NaN values in SPEEDING

df[bool_series].describe(include=['O'])  #this is inconsistent with other variables but that is fine because this is only limited to SPEEDING for non-NaN values

,reportno,status,addrtype,location,exceptrsncode,exceptrsndesc,severitycode,severitydesc,collisiontype,incdate,...,inattentionind,underinfl,weather,roadcond,lightcond,pedrownotgrnt,speeding,st_colcode,st_coldesc,hitparkedcar
count,9870,9870,9816,9783,3379,95,9870,9870,9869,9870,...,726,9870,9862,9867,9863,53,9870,9869,9869,9870
unique,9870,1,3,5251,2,1,4,4,10,4283,...,1,4,10,9,9,1,1,46,46,2
top,2920640,Matched,Block,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,,"Not Enough Information, or Insufficient Locati...",1,Property Damage Only Collision,Other,2006/02/24 00:00:00+00,...,Y,0,Clear,Wet,Daylight,Y,Y,50,Fixed object,N
freq,1,9870,7694,130,3284,95,5847,5847,3996,20,...,726,4282,4423,4577,4727,53,9870,3508,3508,9738

In [71]:
df.loc[:,["inattentionind","speeding"]]  # Extract both. These two variables have two values ; "NaN" and "Y". There is no "N" data value in them

       inattentionind speeding
0                 NaN      NaN
1                 NaN      NaN
2                 NaN      NaN
3                 NaN      NaN
4                 NaN      NaN
...               ...      ...
220333              Y      NaN
220334            NaN      NaN
220335            NaN      NaN
220336            NaN      NaN
220337              Y      NaN

[220338 rows x 2 columns]

In [8]:
speed.describe() # Below, we can see that only Yes is the answer. Other values are null and could either be missing or was recorded but never entered.

count     9870
unique       1
top          Y
freq      9870
Name: SPEEDING, dtype: object

In [9]:
inattention.describe()

count     30187
unique        1
top           Y
freq      30187
Name: INATTENTIONIND, dtype: object

In [27]:
combined = (df["inattentionind"] != "Y") & (df["speeding"])      #collecting speed values only when "INATTENTIONIND" is Null. 
speed_inattention_isnull= df[combined]                                 # See if there is any connection between null values in speed and inattention .
speed_inattention_isnull[["inattentionind", "speeding"]]

speed_inattention_isnull[["inattentionind", "speeding"]].describe(include=['O'])

#check if this code is correct.

       inattentionind speeding
count               0     9144
unique              0        1
top               NaN        Y
freq              NaN     9144

Reference to the code above: Maybe we can fill "inattentionind" with "No" points where Speed "Y" is present.

In [29]:
combined1 =  (df["inattentionind"] == "Y") & (df["speeding"] != "Y")     #collecting inattention values only when "SPEED" is null. 
x = df[combined1]
z= x[["inattentionind", "speeding"]].describe(include=['O'])
z

       inattentionind speeding
count           29461        0
unique              1        0
top                 Y      NaN
freq            29461      NaN

Reference to the code above: Maybe we can fill "speeding" with "No" points where Inattention "Y" is present.

In [12]:
combined2 =  (df["inattentionind"] != "Y") & (df["speeding"] != "Y")   #collecting Null for both "INATTENTIONIND" and "SPEEDING"
y=df[combined2]
y[["inattentionind", "speeding"]].describe(include=['O'])

       INATTENTIONIND SPEEDING
count               0        0
unique              0        0
top               NaN      NaN
freq              NaN      NaN

In [32]:
bool1= ((df["speeding"].isnull()))  & ((df["inattentionind"].isnull()))
df[bool1]

#This will return all the Nulls for Both "INATTENTIONIND" and "SPEEDING". So, there are about 181007 rows with missing "INATTENTIONIND" and "SPEEDING"

,x,y,objectid,inckey,coldetkey,reportno,status,addrtype,intkey,location,...,roadcond,lightcond,pedrownotgrnt,sdotcolnum,speeding,st_colcode,st_coldesc,seglanekey,crosswalkkey,hitparkedcar
0,-122.362907,47.558372,1,326120,327620,3824232,Unmatched,Block,NaN,DELRIDGE WAY SW BETWEEN SW EDMUNDS ST AND SW H...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
1,-122.301868,47.618931,2,65200,65200,2621299,Matched,Block,NaN,E DENNY WAY BETWEEN 23RD AVE AND 24TH AVE,...,Ice,Dusk,NaN,7015014.0,NaN,32,One parked--one moving,0,0,N
2,-122.391508,47.669461,3,20100,20100,1473746,Matched,Block,NaN,NW 56TH ST BETWEEN 26TH AVE NW AND 28TH AVE NW,...,Dry,Dark - Street Lights On,NaN,4080013.0,NaN,32,One parked--one moving,0,0,N
3,-122.346296,47.620903,4,49300,49300,2072241,Matched,Intersection,28927.0,TAYLOR AVE N AND THOMAS ST,...,Dry,Daylight,NaN,6154013.0,NaN,10,Entering at angle,0,0,N
4,-122.288688,47.532714,5,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220329,-122.335852,47.621448,220330,327286,328786,3588909,Matched,Block,NaN,BOREN AVE N BETWEEN THOMAS ST AND HARRISON ST,...,Dry,Dark - Street Lights On,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
220331,-122.288424,47.564962,220332,326427,327927,3824837,Matched,Block,NaN,RAINIER AVE S BETWEEN S ADAMS ST AND S GENESEE...,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
220334,-122.334204,47.574386,220335,326962,328462,E993555,Unmatched,Intersection,32333.0,1ST AVE S AND S HORTON ST,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
220335,-122.347215,47.686941,220336,327637,329137,E978249,Matched,Intersection,24285.0,LINDEN AVE N AND N 80TH ST,...,Wet,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
220336,-122.350034,47.662136,220337,328369,329869,EA07809,Matched,Intersection,25689.0,FREMONT AVE N AND N 46TH ST,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N

In [13]:
df["underinfl"].value_counts()  #exploring how many unique values are there in "UNDERINFL".Not sure about 0 and 1.

N    102902
0     81676
Y      5398
1      4230
Name: UNDERINFL, dtype: int64

We don't have description on what 0 and 1 stand for. We can observe that the count for 0 is LARGER than the count for 1. Similarly, the count for N is LARGER than Y. (The ranges seem pretty close) 

Would it be safe to assume that 0 = N and 1 = Y?

In [43]:
bool= df["underinfl"].isnull()    #There are 26,132 Nulls. Na = NaN = Null= missing values in Python 
w = df.loc[bool, "underinfl"]
w

0         NaN
4         NaN
5         NaN
8         NaN
19        NaN
         ...
220300    NaN
220305    NaN
220311    NaN
220321    NaN
220334    NaN
Name: underinfl, Length: 26132, dtype: object

In [15]:
no_inf= df.loc[(df["underinfl"] == "N"),"underinfl"]  #collecting only "No" for alcohol/drugs
no_inf

6         N
12        N
15        N
17        N
18        N
         ..
220332    N
220333    N
220335    N
220336    N
220337    N
Name: UNDERINFL, Length: 102902, dtype: object

In [72]:
combined4 = ((df["underinfl"] == "N")) & ((df["inattentionind"] == "Y"))  & ((df["speeding"] == "Y") ) #How many accidents due to "No" under alcohol 
                                                                                                         # but "Yes" for inattention and speeding? 
b= df.loc[combined4,["underinfl","inattentionind", "speeding"]]
b
b.describe(include=['O'])

       underinfl inattentionind speeding
count        475            475      475
unique         1              1        1
top            N              Y        Y
freq         475            475      475

In [66]:
combined5= ((df["underinfl"] == "N")) & ((df["inattentionind"].isnull()))  & ((df["speeding"].isnull()) ) 
c= df.loc[combined5,["underinfl","inattentionind", "speeding"]]
c
print(c.describe())
# So, driver was NOT under the influence, nulls for speeding and inattention. So, what could be the factors? Are speeding and inattentionn really missing ?
# Maybe, we further investigate other variables.

       underinfl inattentionind speeding
count      79145              0        0
unique         1              0        0
top            N            NaN      NaN
freq       79145            NaN      NaN

In [68]:
combined6 = ((df["underinfl"] == "N")) & ((df["inattentionind"] == "Y"))  & ((df["speeding"] != "Y"))  # How many accidents only due to inattention?
d = df.loc[combined6, ["underinfl","inattentionind","speeding"]]  
d.describe(include=["O"])

# 19560 accidents only due to "INATTENTIONIND"

       underinfl inattentionind speeding
count      19560          19560        0
unique         1              1        0
top            N              Y      NaN
freq       19560          19560      NaN

In [63]:
combined7 = ((df["underinfl"] == "N")) & ((df["inattentionind"] != "Y"))  & ((df["speeding"] == "Y"))  #How many accidents only due to speeding?
r = df.loc[combined7,["underinfl","inattentionind","speeding"]]
r.describe()

#3722 accidents only due to speeding

       underinfl inattentionind speeding
count       3722              0     3722
unique         1              0        1
top            N            NaN        Y
freq        3722            NaN     3722

As Yesterday's meeting suggested, for any "Y"entry on "UNDERINFL", it is safe to assume "SPEEDING" and "INATTENTION" answers to "NO". So, maybe we can fill in "NO" (if any nulls) in these two variables.

In [65]:
combined8 = ((df["underinfl"] == "Y")) & ((df["inattentionind"].isnull()))  & ((df["speeding"].isnull()))
v = df.loc[combined8,["underinfl","inattentionind","speeding"]]
v

#There are about 4122 aaccidents under DUI. Maybe fill NaN with  "NO"

       underinfl inattentionind speeding
9              Y            NaN      NaN
58             Y            NaN      NaN
124            Y            NaN      NaN
147            Y            NaN      NaN
197            Y            NaN      NaN
...          ...            ...      ...
220112         Y            NaN      NaN
220171         Y            NaN      NaN
220284         Y            NaN      NaN
220288         Y            NaN      NaN
220322         Y            NaN      NaN

[4122 rows x 3 columns]

In [73]:
import os
os.getcwd()

'C:\\Users\\nazif'